 <!-- footer -->
 <footer>
    <div class="container pt-md-4">
        <div class="row py-md-5 justify-content-between" >
            <div class="col-md-5 ms-5" >
                <h3>Call Now</h3>
                <h2 class="my-md-4" id = "contact">+61 3 8376 6284</h2>
                <h3>For special deals</h3>

                <div class="row">
                    <div class="col-md-8 form-group" style="padding: 0px 0px;">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="width:100%;height:100%;">
                    </div>
                      <div class="col-md-4 my-auto subsBtn" style="padding: 0px 0px;">
                        <button type="submit" class="btn px-2 subsBtn" style="width:100%;height:100%;">Join Us</button>
                      </div>
                      
                  </div>
            </div>
            <div class="col-md-5 ms-5" >
                <h3>Quick Links</h3>
                
                <div class="mt-4">
                    <a href="/home">
                        <h4>Home</h4>
                    </a>
                    <a href="/products">
                        <h4>View Products</h4>
                    </a>
                    <a href="/cart">
                        <h4>Cart</h4>
                    </a>
                    <a href="#contact">
                        <h4>Contact Us</h4>
                    </a>
                    <a href="/aboutUs">
                        <h4>About</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
 </footer>